<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Vue.js Learning</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="app.css">
</head>
<body id="demo" class="container">

<article id="post" class="container" v-show="isVisible">
	<button class="glyphicon glyphicon-remove-sign pull-right" v-on="click: isVisible = false"></button>
	<h1>Some Post</h1>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</p>

	<button type="button" 
	class="btn btn-default btn-lg"
	v-class="active: liked"
	v-on="click: toggleLike">
		<span class="glyphicon glyphicon-thumbs-up"></span> {{ likedCount }}
	</button>
	<hr>
	<pre>{{ $data | json }}</pre>

</article>

<hr>
<input v-model="search" class="form-control">
<table class="table table-striped">
	<thead>
		<tr>
			<td 
			v-repeat="column: columns"><a href="#" 
			v-class="active: sortKey==column"
			v-on="click: sortBy(column)">
			{{ column | capitalize }}
			</a></td>
		</tr>
	</thead>
	<tbody>
		<tr v-repeat="people | filterBy search | orderBy sortKey reverse">
			<td>{{name}}</td>
			<td>{{age}}</td>
		</tr>
	</tbody>	
</table>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/0.11.10/vue.min.js"></script>
<script src="app.js"></script>
</body>
</html>